# Ignore Verilator Simulation Artifacts
sim_build/
obj_dir/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore Simulation Results & Waveforms
results.xml
*.vcd
*.fst

# Ignore Mac System Files
.DS_Store

# Ignore Test Logs
*.log

# Ignore Generated Analytics Data
logs/*.csv
data/processed_batch.csv
